<h1>Conference</h1>

<ul>
    {% for talkSchedule in conference %}
        <li class="talk">
            {{ talkSchedule }}

            <a href="{{ path('choose_talk', {conferenceName: conference.name,
            talkName: talkSchedule.talk}) }}">
                Add to my schedule
            </a>
        </li>
    {% endfor %}
</ul>

<h2>My schedule</h2>

<ul class="my-schedule">
    {% for talkSchedule in mySchedule %}
        <li class="talk">
            {{ talkSchedule }}
        </li>
    {% endfor %}
</ul>
